@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Odibee+Sans&family=Source+Sans+Pro:wght@300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 100px;
}

#logo_link {
    padding-top: 5px;
} 


.icon {
    width: 80px;
    padding-top: 10px;

}

nav a {
    text-align: center;
    color: #008cd7 ;
    text-decoration: none;
    padding: 35px;
}

.home-title {
    color: rgb(225, 238, 243) ;
    font-family:"Odibee Sans", "Arsenal", sans-serif ;
    font-size: 2em;

}

#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}

h4 {
    color: rgb(61, 238, 250);
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color: #4791ff;
    font-family: "Arsenal", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;


}

h2 {
    margin: 0;
}

header {
    background-color: #c3ebff;
}

#hero-img {
    width: 100%;
    background-color: #a6d0ff;
}
nav a:hover {
    background-color: rgb(96, 107, 250);
}

.book { 
    background-color: whitesmoke;
    color: #122569;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
}

.join {
    background-color: whitesmoke;
    color: #122569;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
}

.book:hover {
    background-color: #122569;
    color: wheat;
}

.join:hover {
    background-color: #122569;
    color: wheat;
}

#background {
    background-color: #9747ff;
}

.msg {
    background-color: #008cd7;
    line-height: 1.5em;
    padding: 35px;

    
}
.msg h2 {
    color: #192d77;
}

.msg p {
    color: aliceblue;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: #88bce2;
    padding: 25px 50px;
}

footer h3 {
    color: rgb(18, 17, 17);
}

footer a {
    color: #1d44cf;
    text-decoration: none;
}

footer a:hover {
    color: aliceblue;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
}